table, tbody, tr, th, td {
display: block;
}

html,body{
    hight: 100%;    /*高さを100％に設定*/
}

body{
    margin: 0;
    padding: 0;
    positiion: relative;
    min-width: 60%;   /*中央配置するボックスの横幅*/

    background-color:#00bfff;
}


.header {
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100% */
    height: 80px;              /* 縦幅140px */
    font-size: large;
		border-bottom: 1px solid red;
}

.header_left {
  float: left;
}

.header_left li {
  list-style: none;
  float: left;
  padding: 20px 20px;
}

.header_right {
  float: right;

}

.header_right li {
  list-style: none;
  float: left;
  padding:20px 20px;
}

.main {
  margin-top: 70px;     /* 位置(上70px) */
	width: 100%;
  }

/*.container {
  display: table;
  width: 60%;
} */

.sidebar_left{
	background-color: coral;
	float: left;
	width: 20%;
}

.content{
	position: absolute;     /*body要素に対して絶対配置*/
	background-color: lightgreen;
	float: left;
	width: 60%;
}

.sidebar_right{
	background-color: skyblue;
	float: left;
	width: 20%;
}
