table, tbody, tr, th, td {
display: block;
}

html,body{
    hight: 100%;    /*高さを100％に設定*/
}

body{
    margin: 0;
    padding: 0;
    positiion: relative;
    min-width: 600px;   /*中央配置するボックスの横幅*/
    min-height: 400px;  /*中央配置するボックスの縦幅*/
    background-color:#00bfff;
}

.content{
    margin: -200px 0 0 -300px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 600px;   /*横幅*/
    height: 400px;  /*縦幅*/
    background-color:#ffffff;
}

.header {
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100% */
    height: 140px;              /* 縦幅140px */
    font-size: large;
		border-bottom: 1px solid;
}

.header_left {
  float: left;
}

.header_left li {
  list-style: none;
  float: left;
  padding: 20px 20px;
}

.header_right {
  float: right;

}

.header_right li {
  list-style: none;
  float: left;
  padding:20px 20px;
}

.main {            /* ヘッダーの固定 */
  margin-top: 70px;               /* 位置(上0px) */
  }

.container {
  display: table;
  width: 60%;
}
